.dropzone {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: var(--body-bg);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    &.active {
        opacity: 1;
    }

    svg {
       display: block;
        margin-bottom: 20px;
    }
}

.filebox {
    width: 300px;
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
    border: dashed .5px;
    cursor: pointer;
    padding: 0px 80px;
  }