.nav {
    display: flex;
    padding: 20px 0;
    margin: 0px 20px;
    height: 100%;
    text-align: center;
    color: black;
    overflow: hidden;
    > a {
        padding-top: 1vw;
        margin-left: 3vw;
        color: var(--body-bg);
        margin: 0 22px 0 0;
        font-weight: 400;
        cursor: pointer;
        &.empty {
            color: var(--body-alt);
        }
        &.disabled {
            color: var(--body-alt);
            pointer-events: none;
        }
        small {
            font-size: 13px;
            margin: 0 2px;
        }
    }
    > ul > li > a {
        cursor: pointer;
    }
}

.list {
    margin-top: 0px;
    width: 65%;
    color: black;
    border-top: 4px solid #eaac32;
    margin-left: 17%;
    a {
        list-style: none;
        font-size: 14px;

        > div {
            list-style: none;
            display: flex;
            line-height: 32px;
            cursor: pointer;
            width: 100%;
            padding: 0 10px;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                width: 30px;
                margin-top: 10px;
                padding-left: 0px;
                @media (max-width: 320px) {
                    padding-left: 10px;
                }
            }
            > span:nth-child(2) {
                text-align: left;
                width: 50%;
            }
            > strong:nth-child(3) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(4) {
                width: 25%;
                text-align: right;
            }
        }
        
        &:hover > div {
            background: var(--secondary);
        }
        &.received {
            span:nth-child(1),
            span:nth-child(4) {
                color: var(--input-bg);
            }
        }
        &.sent {
            span:nth-child(1),
            span:nth-child(4) {
                color: gray;
            }
        }
        &.pending {
            div {
                opacity: 0.5;
            }
        }
    }
}

.refresh {
    display: block;
    text-align: center;

    &:hover {
        color: var(--input-bg);
    }

    &.busy {
        pointer-events: none;
        color: var(--body-alt);
    }

    &.loading {
        pointer-events: none;
        animation: spin 0.8s ease infinite;
    }
}

.search {
    margin: 0px 0px 0 175px;
    line-height: 40px;
    height: 40px;
    background: white;
    border: none;
    color: var(--input-color);
    border-radius: 4px;
    cursor: pointer;
    transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 35%;
    padding: 0px 0px 0 10px;
    overflow: hidden;
    input {
        display: inline-block;
        height: 84%;
        width: 65%;
        float: left;
        &::placeholder {
            font-size: 14px;
            color: gray;
        }
    }
}

.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--box-body);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out;
    cursor: pointer;
    z-index: 3;
    > div {
        position: absolute;
        top: 50%;
        left: 17%;
        width: calc(100% - 405px);
        height: 80%;
        transform: translate(0, -50%) scale(0.9);
        background: var(--body-bg);
        padding: 20px;
        border-radius: 4px;
        transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
        p {
            width:70%;
            &:first-child {
                display: flex;
                justify-content: space-between;
            }

            strong {
                padding-top: 21px;
            }

            small {
                font-size: 12px;
                text-align: right;
            }

            em {
                display: block;
                font-style: normal;
                color: var(--body);
            }

            &.hash {
                margin-top: 20px;
                display: block;
                font-family: 'SourceCodePro';
                word-break: break-word;
                > span {
                    display: block;
                }
            }
        }

        .message {
            display: block;
            margin: 26px 90px 20px;
            word-break: break-word;
            height: 70px;
            position: relative;
            strong {
                display: block;
                margin-bottom: 4px;
                font-size: 12px;
                padding-top: 0px;
            }
        }

        h6 {
            font-size: 12px;
            margin-bottom: 0px;
            padding-bottom: 7px;
            margin-left: 87px;
            color:white;
        }

        .received {
            p:first-child strong {
                color: var(--primary);
            }
        }
        .sent {
            p:first-child strong {
                color: var(--secondary);
            }
        }
        .pending {
            p:first-child small {
                color: var(--negative);
            }
        }
        .confirmed {
            p:first-child small {
                color: var(--positive);
            }
        }
    }
    &.on {
        opacity: 1;
        pointer-events: all;
        > div {
            transform: translate(0, -50%) scale(1);
        }
    }

    .addresses {
        strong {
            display: block;
            margin-bottom: 8px;
            font-size: 12px;
        }
        p {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            line-height: 14px;
            font-family: 'SourceCodePro';
            word-break: break-word;

            em {
                flex: 0 0 20%;
                text-align: right;
                font-family: 'SourceSansPro';
                font-weight: 400;
            }
            mark {
                color: var(--primary);
            }
        }
        > div {
            max-height: calc(100vh - 640px);
            width: calc(100% + 20px);
            position: relative;
            overflow: hidden;

            @media (max-width: 940px) {
                max-height: calc(100vh - 680px);
            }
        }
    }

    nav {
        text-align: center;
        button:first-of-type {
            margin-bottom: 10px;
            min-width: 120px;
        }

        @media (max-width: 320px) {
            display: none;
        }
    }
}