.nav {
    display: flex;
    padding: 20px 0;
    margin: 0px 20px;
    height: 100%;
    text-align: center;
    color: black;
    overflow: hidden;
    > a {
        padding-top: 1vw;
        margin-left: 3vw;
        color: var(--body-bg);
        margin: 0 22px 0 0;
        font-weight: 400;
        cursor: pointer;
        &.empty {
            color: var(--body-alt);
        }
        &.disabled {
            color: var(--body-alt);
            pointer-events: none;
        }
        small {
            font-size: 13px;
            margin: 0 2px;
        }
    }
    > ul > li > a {
        cursor: pointer;
    }
}

.list {
    margin-top: 0px;
    width: 65%;
    color: black;
    border-top: 4px solid #eaac32;
    margin-left: 17%;
    a {
        list-style: none;
        font-size: 14px;

        > div {
            list-style: none;
            display: flex;
            line-height: 32px;
            cursor: pointer;
            width: 100%;
            padding: 0 10px;
            > span {
                width: 50%;
                padding: 0 2%;
            }
            > span:nth-child(1) {
                width: 30px;
                margin-top: 10px;
                padding-left: 0px;
                @media (max-width: 320px) {
                    padding-left: 10px;
                }
            }
            > span:nth-child(2) {
                text-align: left;
                width: 50%;
            }
            > strong:nth-child(3) {
                width: 20%;
                text-align: left;
            }
            > span:nth-child(4) {
                width: 25%;
                text-align: right;
            }
        }
        
        &:hover > div {
            background: var(--secondary);
        }
        &.received {
            span:nth-child(1),
            span:nth-child(4) {
                color: var(--input-bg);
            }
        }
        &.sent {
            span:nth-child(1),
            span:nth-child(4) {
                color: gray;
            }
        }
        &.pending {
            div {
                opacity: 0.5;
            }
        }
    }
}

.refresh {
    display: block;
    text-align: center;

    &:hover {
        color: var(--input-bg);
    }

    &.busy {
        pointer-events: none;
        color: var(--body-alt);
    }

    &.loading {
        pointer-events: none;
        animation: spin 0.8s ease infinite;
    }
}

.search {
    margin: 0px 0px 0 110px;
    line-height: 40px;
    height: 40px;
    background: var(--body);
    border: none;
    color: var(--input-color);
    border-radius: 4px;
    cursor: pointer;
    transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 35%;
    padding: 0 40px 0 10px;
    overflow: hidden;
    input {
        display: inline-block;
        height: 84%;
        width: 90%;
        float: left;
        &::placeholder {
            font-size: 14px;
            color: gray;
        }
    }
}
