.menu_bx {
  display: none;
  transition: all 0.5s;
}
p {
  font-size: 19px;
  line-height: 27px;
  margin-bottom: 17px;
  margin-top: 7vw;
  margin-left: 7vw;
}
.menu_bx.open {
  display: block;
}
.acco_pg {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 50px;
}
.acco_pg li {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.acco_pg li:hover {
  color: #e8b349;
}
.set_bxac {
  margin-top: 100px;
}
.set_bxac h5 {
  margin-left: 2px;
}
.set_bxac h2 {
  font-size: 25px;
}
.acco_pg li.active {
  color: #e8b349;
}
.ser_bts {
  border-color: #ffffff;
  margin: 18px auto;
}

.spe_box {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.spe_boxs {
  display: inline-block;
  margin: 20px auto 0;
  color: #ffffff;
  transition: all 0.5s;
  font-weight: bold;
}
.spe_boxs:hover {
  text-decoration: none;
  color: #e8a435;
}
.spe_boxs:hover img {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.spe_boxs img {
  padding-bottom: 20px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.ar_btns {
  color: #ffffff;
  float: right;
}
.foo_bxx12 {
  width: 50%;
  min-height: 465px;
  background-color: #06182b;
  position: absolute;
  top: 95px;
  bottom: 84px;
  left: 320px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.ssetting_textline {
  width: 21vw;
  height: 3vw;
  margin-left: 14vw;
  border-radius: -1%;
  border: 0;
  color: white;
  background-color: #06182b;
  border-bottom: 2px solid #e8b349;
  outline: 0;
  text-align: center;
}
.theme_bx {
  margin-top: 100px;
  border: 1px;
  display: inline-block;
}

.active {
  color: #e8b349;
}
<<<<<<< HEAD
switch {
  overflow: hidden;

  &.closed {
      max-height: 0px;
      background: var(--bar-bg);
      transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.open {
      max-height: 600px;
      background: var(--bar-hover);
      transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
=======

.scroll {
  height: 100vh;
  margin: 0 auto;

  article,
  ul {
      margin: 0 auto;
      max-width: 560px;
      padding: 120px 20px;
  }
}

>>>>>>> ad54d532ff7ab017ccd268cab801debc72d3bf31
