.menu_bx {
  display: none;
  transition: all 0.5s;
}
p {
  font-size: 19px;
  line-height: 27px;
  margin-bottom: 17px;
  margin-top: 7vw;
  margin-left: 7vw;
}
.menu_bx.open {
  display: block;
}
.acco_pg {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 50px;
  

}

.acco_pg li {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.acco_pg li:hover {
  color: #e8b349;
}
.set_bxac {
  margin-top: 100px;
}
.set_bxac h5 {
  margin-left: 2px;
}
.set_bxac h2 {
  font-size: 25px;
}
.acco_pg li.active {
  color: #e8b349;
}
.ser_bts {
  border-color: #ffffff;
  margin: 18px auto;
}

.spe_box {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.spe_boxs {
  display: inline-block;
  margin: 20px auto 0;
  color: #ffffff;
  transition: all 0.5s;
  font-weight: bold;
}
.spe_boxs:hover {
  text-decoration: none;
  color: #e8a435;
}
.spe_boxs:hover img {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.spe_boxs img {
  padding-bottom: 20px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.ar_btns {
  color: #ffffff;
  float: right;
}
.foo_bxx12 {
  width: 75%;
  min-height: 465px;
  background-color: rgb(66, 13, 134);
  position: absolute;
  top: 95px;
  bottom: 38px;
  left: 320px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  background-color:transparent;
  z-index: 1000;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0), rgba(250, 192, 0, 0.75), rgba(0, 0, 0, 0)
    ) 1 100%;
}
.setinghr {
  position: absolute;
  top: 245px;
  left: 50px;
  width: 777px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(250, 192, 0, 0.75), rgba(0, 0, 0, 0));
}
.setinghr1 {
  position: absolute;
  top: 486px;
  left: 50px;
  width: 777px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(250, 192, 0, 0.75), rgba(0, 0, 0, 0));
}
.setinghr2 {
  position: absolute;
  top: 703px;
  left: 50px;
  width: 777px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(250, 192, 0, 0.75), rgba(0, 0, 0, 0));
}
.setinghr3 {
  position: absolute;
  top: 908px;
  left: 50px;
  width: 777px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(250, 192, 0, 0.75), rgba(0, 0, 0, 0));
}
.ssetting_textline {
  width: 21vw;
  height: 3vw;
  margin-left: 14vw;
  border-radius: -1%;
  border: 0;
  color: white;
  background-color: var(--body);
  border-bottom: 2px solid #e8b349;
  outline: 0;
  text-align: center;
}
.theme_bx {
  margin-top: 100px;
  border: 1px;
  display: inline-block;
}

.active {
  color: #e8b349;
}
.scroll {
  height: 100vh;
  margin: 0 auto;

  article,
  ul {
      margin: 0 auto;
      max-width: 560px;
      padding: 120px 20px;
  }
}
