$header: 110px;
$footer: 350px;
.onboarding {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  header {
    width: 100%;
    height: $header;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      top: 50px;
      right: 30px;
      &:hover {
        color: var(--primary);
      }
    }
  }

  > div:first-of-type > div {
    position: absolute;
    top: $header;
    left: 0px;
    height: calc(100% - #{$header});
    width: 100%;
    z-index: 2;

    > form {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0 30px 230px;

      &.padded {
        padding: 0 30px 180px;
      }

      section {
        width: calc(100vw - 60px);
        max-width: 640px;
        text-align: center;

        &.wide {
          max-width: none;
        }

        > p {
          margin-bottom: 50px;
        }
      }
    }
  }

  footer,
  footer > div {
    background-color: #dee1e3;
    position: absolute;
    bottom: 0px;
    height: $footer;
    width: 100%;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    * {
      flex: 1;
    }
  }

  footer {
    > div {
      bottom: -$footer;
      transition: bottom 0.6s cubic-bezier(0.4, 0, 1, 1);
    }
    &.choiceDefault > div:nth-child(1),
    &.choiceLedger > div:nth-child(2) {
      bottom: 0px;
      transition: bottom 0.6s cubic-bezier(0, 0, 0.2, 1);
      z-index: 2;
    }
  }

  @media print {
    footer,
    header,
    nav,
    h1,
    p {
      display: none;
    }
  }
}

.footer_none {
  display: none !important;
}
footer ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 60px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: 40px;
}

.active {
  background-color: #011327;
}

footer li {
  float: left;
  margin: 10px;
  width: 10px;
  height: 10px;
  list-style: none;
  border-radius: 100px;
  background-color: #aeadaf;
  position: relative;
}
footer li a {
  float: left;
  padding-top: 8px;
}
footer li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 24px;
  height: 1px;
  background-color: #aeadaf;
}

.done::after {
  display: none;
}

.spage_1 h3 {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 45px;
  font-family: "ProximaNova-Bold";
}
.spage_1 h3 span {
  color: #dcab49;
}
.lg_seed {
  float: left;
  font-weight: bold;
  color: #7d7c7d;
  margin-top: 430px;
  font-size: 20px;
  margin-left: 200px;
  transition: all 0.5s;
}
.cre_seed {
  float: right;
  font-weight: bold;
  color: #7d7c7d;
  margin-top: 430px;
  font-size: 20px;
  margin-right: 200px;
  transition: all 0.5s;
}
.lg_seed:hover,
.cre_seed:hover {
  color: #011327;
  text-decoration: none;
}
.spage_1 {
  position: relative;
}
.sseed_box {
  width: 700px;
  padding: 35px 20px;
  min-height: 50px;
  position: absolute;
  left: 50%;
  bottom: 164px;
  margin-left: -350px;
  background-color: #06182b;
  border-radius: 5px;
  box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 0.18);
  z-index: 1000;
}
.sseed_box3{
  width: 400px;
min-height: 100px;
border: 5px solid #fff;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 100px;
text-align: center;
padding: 15px;
}
.icon_secs{
  width: 100%;
padding-bottom: 70px;
}
.onboard_nav {
  width: 700px;
  padding: 40px 20px;
  position: absolute;
  left: 50%;
  bottom: 164px;
  margin-left: -350px;
  z-index: 1000;
  top: 430px;
}
.top_sec {
  width: 100%;
  min-height: 50px;
  position: absolute;
  top: -83px;
  left: 0;
  z-index: 999;
  padding-right: 40px;
  padding-top: 10px;
}
.bal_bx {
  float: left;
  padding-left: 58px;
  font-size: 15;
  padding-top: 14px;
}
.bal_bxs {
  float: left;
  padding-left: 40px;
  font-size: 22px;
  padding-top: 10px;
  text-align: right;
  color: #e8b349;
}
.bbx_box {
  width: 250px;
  background-color: #081726;
  height: 60px;
  border-radius: 5px;
  margin: 42px auto;
  padding: 16px 20px;
}
.tr_box::after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 115px;
  width: 20px;
  height: 20px;
  //background-image: url("../images/equal.png");
  background-repeat: no-repeat;
}
.pg1_foo3 {
  position: static;
  height: 700px;
  margin-top: 300px;
}
.er2 {
  float: right;
  font-weight: bold;
}
.tr_box {
  position: relative;
}
.foo_bxx {
  width: 100%;
  min-height: 449px;
  background-color: #ffffff;
  position: absolute;
  top: -274px;
  left: 0;
  box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.foo_bxx h3 {
  font-size: 40px;
  color: #000;
  margin-top: 42px;
  margin-bottom: 50px;
}
.foo_bxx h3 span {
  color: #e8b349;
}
.reci_text {
  border: 0;
  border-bottom: 2px solid #e8b349;
  margin-top: 18px;
  width: 500px;
  outline: 0;
}
.foo_bxx h5 {
  color: #000;
  font-size: 18px;
}
.foo_bxx h6 {
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid #e8b349;
  display: inline-block;
  padding-bottom: 20px;
}

.setting {
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  transition: all 0.5s;
}
.main_mn {
  float: right;
  padding: 0 0 0 20px;
}
.logout img {
  padding: 10px;
}
.navleft {
  float: left;
  font-weight: bold;
  color: #7d7c7d;
  font-size: 20px;
  transition: all 0.5s;
  text-decoration: none;
  
}
.navleft:hover{
  color:black;
}
.navright:hover{
  color:black;
}
.navright {
  float: right;
  font-weight: bold;
  color: #7d7c7d;
  font-size: 20px;
  transition: all 0.5s;
  text-decoration: none;
}
.sseed_box2 {
  width: 850px;
  padding: 40px 100px;
  min-height: 300px;
  position: absolute;
  left: 163px;
  bottom: 115px;
  background-color: #06182b;
  border-radius: 5px;
  box-shadow: 10px 10px 25px -8px rgba(0, 0, 0, 0.18);
}
.sseed_box h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
}
.sseed_box h6 {
  font-size: 18px;
  color:blue;
}
.sseed_text{
  width:40vw;
  height:3vw;
  border-radius: -1%;
  

}
.img_sr_h2{
  font-size: 19px;

}
.img_sr_h2:hover{
  color: #dcab49;
}
.img_sr {
  float: left;
  margin: 1px 24px;
      margin-top: 50px;
  text-align: center;
}
.img_sr_imgss1{
 
  margin-top: 51px;
}
.img_sr_imgss2{
  margin-top: 51px;
}
.img_sr_imgss3{
  margin-top: 51px;
}

.img_sr_imgss4{
  margin-top: 51px;
}
.img_sr_imgss5{
  margin-top: 51px;
}

.sseed_box h4{
  font-size: 16px;
  color: #dcab49;
}
.sseed_box2 h3 {
  font-size: 20px;
  border-bottom: 1px solid #8e9ba9;
  padding-bottom: 30px;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  li {
    display: block;
    list-style: none;
    width: 12px;
    height: 12px;
    background: var(--body-alt);
    margin: 0 18px;
    position: relative;
    border-radius: 12px;
    > span {
      display: block;
      width: 12px;
      height: 12px;
      background: var(--primary);
      transform: scale(0);
      border-radius: 12px;
      transition: transform 0.2s ease-out;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: -36px;
      height: 2px;
      width: 36px;
      background: var(--body-alt);
      transition: width 0.2s ease-out;
    }
    &:after {
      width: 0px;
      background: var(--primary);
    }
    &:first-child:before,
    &:first-child:after {
      display: none;
    }
  }
  .active {
    > span {
      background: var(--primary);
      transform: scale(1);
      transition: transform 0.4s ease-out;
    }
    &:after {
      width: 36px;
    }
  }
}
