.home {
  text-align: center;
  margin-top:12vw;
  .privacy{
    margin-top:-120px;
    p {
      margin-top: 0vw !important;
      margin-left: 0vw !important;
    }
  }
  article {
    display: block;
    position: relative;
    max-width: 780px;
    max-height: 650px;
    width: calc(100vw - 20px);
    height: calc(100vh - 300px);
    margin: 20px auto 0;
    text-align: left;
    background: var(--box-bg);
    padding: 40px 10px 30px 30px;
  }
  p {
    font-size: 14px;
    strong {
      font-weight: 600;
    }
    a {
      color: var(--body);
      text-decoration: underline;
    }
  }
  h2,
  h3 {
    display: inline-block;
    font-size: 18px;
    margin: 18px 0;
  }
  h6 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: "ProximaNova-Regular";
    border-bottom: 1px solid #dcab49;
    padding-bottom: 15px;
    display: inline-block;
  }
  h5 {
    text-align: left;
    font-size: 20px;
    font-family: "ProximaNova-Regular";
    padding-bottom: 15px;
    display: inline-block;
    width: 280px;
    margin-top: 40px;
  }

  /*the container must be positioned relative:*/
  .custom-select {
    position: relative;
    font-family: Arial;
    background:gray;
    width: 300px !important;
    height: 60px;
    border: 1px solid #eaac32;
    display: inline-block;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #eaac32;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 15px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #eaac32;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  li {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 4px 24px;
    list-style: circle;
  }
}
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  background: #eaac32;
  width: 300px !important;
  height: 60px;
  border: 1px solid #eaac32;
  display: inline-block;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #eaac32;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 15px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #eaac32;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.cont {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
.cont:hover {
  text-decoration: none;
  color: #dcab49;
}
.cont span {
  color: #dcab49;
}

.activeDot {
  background-color: #011327;
}

@media screen and (max-width: 1366px) {
  .home h6 {
    margin-left: 15px;
  }
}


