@font-face {
  font-family: "ProximaNova-Bold";
  src: url("~fonts/ProximaNova-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("~fonts/ProximaNova-Regular.ttf") format("truetype");
}

body,
input,
button {
    font-family: 'ProximaNova-Bold';
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 26px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

strong {
    font-weight: 400;
}